<table id="tblAreas" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Area</th>
            <th>Capacidad Max</th>
            <th>Estatus</th>
            <th>Creado </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Area</th>
            <th>Capacidad Max</th>
            <th>Estatus</th>
            <th>Creado </th>
            <th> Acciones </th>
        </tr>
    </tfoot>
</table>
<div class="modal fade" id="modalAreas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"></div>

<!-- Button trigger modal -->
