<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Estatus</th>
            <th>Creado</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Estatus</th>
            <th>Creado</th>
            <th>Acciones</th>
        </tr>
    </tfoot>
</table>


<!-- Button trigger modal -->
