@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Usuarios";
}
@section Styles{
<link rel="stylesheet" href="~/lib/datatable/datatables.min.css" />
<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
}
<div><br /></div>
<div class="container ">
    <div class="container-fluid justify-content-end">

        <h1 class="text-center display-6">Todos los usuarios</h1>
        <hr />
        <partial name="_TablaUsuarios.cshtml" />
    </div>
    <div class="justify-content-center text-center">
        <button disabled type="button" class="btn btn-primary"> <i class="fa-solid fa-check"></i> </button>
        Pendiente por aceptar
        <button disabled type="button" class="btn btn-dark"> <i class="fa-solid fa-lock"></i></button>
        Bloqueado, uso restringido
        <button disabled type="button" class="btn btn-success"> <i class="fa-solid fa-unlock"></i></button>
        Debloquear usuario
    </div>

</div>
<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"></div>


@section Scripts{
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/datatable/datatables.min.js"></script>
<script type="text/javascript" src="~/lib/fontawesome/js/all.min.js"></script>
<script type="text/javascript" src="~/scripts/helpers/EnviarControlador.js"></script>
<script type="text/javascript" src="~/scripts/alerts.js"></script>
<script type="text/javascript" src="~/scripts/crud/usuarioRest.js"></script>
<script type="text/javascript" src="~/scripts/crud/usuarios.js"></script>
}