nav {
    background-color: #7EA1C4;
}
.fondo-azul {
    background-color: #7EA1C4;
}
.fondo-gris-primary {
    background-color: #3D4445;
}
.color-text-primario {
    color: #F5F5F4;
}
.text-banner {
    font-family: Calistha;
}

@font-face {
    font-family: 'Calistha';
    src: url('../fonts/Calistha.ttf') format("truetype");
}
@font-face {
    font-family: 'Future Friends';
    src: url('../fonts/Future_Friends.ttf') format("truetype");
}