@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <h5>Te presentamos <a href="@Url.Action("Index","Agenda")">Tzolk'in</a> por <b>Giotex</b> </h5>
    <p>
        "Tzol'kin" por <b>Giotex</b>, es una <i>Aplicacion Web</i> que te servira para hacer <u>reservaciones</u> en las diferentes salas de la empresa. Esto
        ayudara a todos los colaboradores a observar qué actividades estaran ocupando las diferentes salas y evitar esos molestos choques de horario.
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-6">¿Necesitas ayuda? Da click a la imagen y sigue las instrucciones</h1>
                <a href="http://10.0.100.25:8004/s/f2okRkf7JXpgEoF" target="_blank">
                    <div>
                        <img src="~/lib/images/alterarEvento.jpg" height="300px" width="300px"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
